{% extends "base.html.twig" %}

{% block title 'Gerer les biens' %}

{% block body %}
<div class="container mt4">


    <h1>Gérer les biens </h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    Titre
                </th>
                <th>
                    Actions
                </th>
            </tr>



        </thead>
    </table>





</div>


{% for property in properties %}

{% endfor %}


{% endblock %}